*{
    margin:0;
    padding:0;
}
body{
    background: #e6e5e5;
}
h1{
    text-align: center;
    padding: 50px 0;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
}
.card{
    width: 200px;
    height: 250px;
    border: 1px solid #808080;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.card p{
    font-size: 20px;
    font-weight: bold;
}
.card img{
    width: 80%;
}